.logo{
    width: 80%;
    height: 100%;
}
.section{
    padding-top: 120px;
    padding-left: 20px;
}
.shoe-card{
    border: 0;
}
.shoe-top{
    height: 100%;
    width: 80%;
}
.span-tag{
    color: hsl(27, 64%, 65%);
    font-size: 60px;
}
.shoes-header{
    color:rgb(12, 11, 11);
    font-weight: bold;
}
.price{
    color: coral;
    font-weight: 900;
}
.sec-4-img{
    width: 100%;
}
.contact-seller{
    padding-left: 40px;
}
.free-exchange{
    padding-left: 0px;
}
.find-perfect{
    padding-left: 20px;
}
.last-part{
    padding-top: 200px;
}

